.boxBackground {
    background-color: #fb6a31;
}

.bigBoxCards {
    background: url(../img/fondocards.jpg);
    display: flex;
    justify-content: center;
}

.card-body {
    align-items: center;
}

.card-title {
    font-family: $fontTestA;
    text-align: center;
    color: black;
    margin: 0;
    font-size: $fontSizeBig;
    font-weight: $fontBold;
}

.card-text {
    color: black;
    font-style: none;
    text-decoration: none;
    font-family: $fontNav;
    font-size: $fontSizeMedium;
    justify-self: center;
}

.miniBoxCards img {
    border-radius: 2em;
}

.bigSmallCards {
    background-color: blue;
}

@media only screen and (max-width: 480px) {
    .mediumBoxCards {
        display: flex;
        justify-content: center;
    }
    .bigBoxCards {
        display: flex;
        justify-content: center;
    }
    .bigSmallCards {
        width: 20em;
    }
    .boxBackground {
        background-image: url(../img/fondoLiA.jpg);
    }
    .miniBoxCards img {
        display: none;
    }
    .containerImgEnvios {
        display: flex;
        align-items: center;
    }
    /*.containerImgEnvios img {
        width: 10em;
        height: 8em;
    }*/
}