.tituloCarousel {
    background-image: url(../img/fondoLiA.jpg);
    padding: 0;
}

.tituloCarousel h1 {
    font-family: $fontTestA;
    text-align: center;
    color: black;
    margin: 0;
    font-size: $fontSizeBig;
    font-weight: $fontBold;
}

.tituloCarousel h3 {
    font-family: $fontTestA;
    text-align: center;
    color: black;
    margin: 0;
    font-size: $fontSizeBig;
    font-weight: $fontBold;
}

.carouselImgSize img {
    height: 50em;
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .carouselImgSize img {
        height: 20em;
    }
}