.formContainer {
    height: auto;
}

.tituloForm {
    margin: 0;
    background-image: url(../img/fondoLiA.jpg);
    padding: 0;
}

.tituloForm h1 {
    font-family: $fontTestA;
    text-align: center;
    color: black;
    margin: 0;
    font-size: $fontSizeBig;
    font-weight: $fontBold;
}

.btn-group a {
    background-color: white;
    font-weight: bold;
    border: 1px solid black;
}

.containerImgContacto {
    display: flex;
    justify-content: center;
}

.containerImgContacto img {
    width: 50em;
    margin: 1.5em;
}

.mapContainer {
    display: flex;
    justify-content: center;
}

.map {
    margin-top: 2em;
    margin-bottom: 4em;
    width: 100%;
}