.containerImgEnvios {
    display: flex;
    justify-content: center;
}

.containerImgEnvios img {
    margin: 1.5em;
    margin-top: 0.5em;
}

.backgroundImgEnvio {
    background-image: url(../img/fondocards.jpg);
}