.containerCardOne {
    background-color: #FDE398;
}

.containerCardTwo {
    background-color: #A6EDDB;
}

.containerImgFabricacion {
    display: flex;
    width: 50%;
    justify-content: center;
}

.containerImgFabricacion img {
    width: 30em;
    border-radius: 4em;
    padding: 1em;
    transition: transform .2s;
}

.containerImgFabricacion img:hover {
    transform: scale(1.1);
}

.containerTextFabricacion h4 {
    font-family: $fontTestA;
    text-align: center;
    color: black;
    margin: 0;
    font-size: $fontSizeBig;
    font-weight: $fontBold;
}

.containerTextFabricacion p {
    color: black;
    font-style: none;
    text-decoration: none;
    font-family: $fontNav;
    font-size: $fontSizeMedium;
    justify-self: center;
}