@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
$fontMain: 'Didact Gothic',
sans-serif;
$fontSizeSmall: 0.8em;
$fontSizeMedium: 1.5em;
$fontSizeBig: 3em;
$fontBold:600;
$fontThin:300;
$fontNav: 'Indie Flower';
$fontTestA: 'Caveat';