footer {
    background-image: url(../img/fondoTituloH.jpg);
    width: 100%;
    height: auto;
}

.container-social {
    display: flex;
    justify-content: space-between;
}

.container-social p {
    transition: transform .2s;
    background-color: black;
    border-style: groove;
    font-family: $fontMain;
    text-align: center;
    color: white;
    margin: 0;
    font-size: $fontSizeMedium;
    width: 10em;
    font-weight: bold;
}

.container-social p:hover {
    transform: scale(1.1);
}

.miniContainerSocial {
    padding: 0;
    margin: 0;
}

.containerLogo {
    display: flex;
    justify-content: center;
}

.containerLogo img {
    transition: transform .2s;
    width: 6vh;
    margin: 1em;
}

.containerLogo img:hover {
    transform: scale(1.2);
}

.containerParagraph {
    display: flex;
    justify-content: center;
}

.copyRight p {
    font-family: $fontTestA;
    color: white;
    font-weight: bolder;
    font-size: $fontSizeMedium;
    text-align: center;
    font-size: 3vh;
}

@media only screen and (max-width: 600px) {
    .container-social p {
        display: none;
    }
}