.boxLogo {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav__logo {
    height: 8em;
    width: 12em;
    margin: 0;
    padding: 0;
}

.container-fluid {
    display: flex;
}

.nav__letters ul {
    width: 100%;
    justify-content: space-between;
}

.nav__letters ul li {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav__letters ul li:hover {
    background-color: #fde398;
    transition: 0.5s ease-in-out;
}

.nav__letters ul li a {
    color: black;
    font-style: none;
    text-decoration: none;
    font-family: $fontNav;
    font-size: 4vh;
    justify-self: center;
}