.infoCompras {
    background-image: url(../img/fondoLiA.jpg);
    padding: 0;
}

.infoCompras h2 {
    font-family: $fontTestA;
    text-align: center;
    color: black;
    margin: 0;
    font-size: $fontSizeBig;
    font-weight: $fontBold;
}

@media only screen and (max-width: 480px) {
    .tituloCarousel h1 {
        font-size: 4vh;
    }
    .infoCompras h2 {
        font-size: 4vh;
    }
    .card-body h3 {
        font-size: $fontSizeBig;
    }
    .card-body {
        font-size: $fontSizeSmall;
    }
}