.sellBigBox {
    display: flex;
    justify-content: space-between;
}

.buttonColor {
    background-color: #00c4ff;
    border: #00c4ff;
}

.sellBox {
    background-image: url(../img/fondoLiA.jpg);
    margin: 3em;
    height: auto;
}