.sellBigBox {
    display: flex;
    justify-content: space-between;
}

.buttonColor {
    border: #00c4ff;
}

.sellBox {
    width: auto;
    margin: 0.5em;
    height: auto;
    padding: 1em;
}

.sellBox img {
    width: auto;
    height: 20em;
    border-radius: 2em;
}

.card-body p {
    text-align: start;
}

.card-body {
    text-align: end;
}